body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 19px;
    color: #1e1526;
    padding: 0 10px;
    font-family: sans-serif, Verdana, Arial;
    background: #f3f3f3;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

blockquote {
    background: #e4dddd;
    border-left: 10px solid #cbc3e3;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
    color: #cbc3e3;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

a:not([href^='http']):not([href^='mailto']) {
    display: inline-block;
    outline-color: transparent;
    text-decoration: none;
    color: #383455;
    font-size: 1em;
    padding: 0.1em 0.5em;
    margin: 0.1em 0;
    line-height: 2.5em;
    border: 1px solid #5a5a5a;
    background-color: #d3d3d3;
    transition: all 0.2s ease;
}

a:link {
    color: #00e;
}

a:hover {
	color: 5095fc;
}

a:active {
    background-color: #d5ffff !important;
}

textarea {
    resize: none;
    overflow: auto;
    max-width: 85%;
}

:-moz-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder,
input::placeholder,
textarea::placeholder {
    font-weight: 500;
    color: #534c4c;
    opacity: 1;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #cbc9f9 #fff;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #fff;
}
#submitvote {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
    color: indigo;
    border-color: indigo;
    margin-bottom: 1em;
    width: 8em;
}
#submitvote:hover {
    color: #fff;
    background-color: indigo;
    border-color: indigo;
}
input[type='checkbox'] {
    width: 1.5em;
    height: 1.5em;
}

@media (prefers-color-scheme: dark) {
	body {
		background-image: url("bg.gif");
		color: #f3f3f3;
	}

	a:link {
		color: #d1fcfc;
	}

	a:active {
		color:
	}
}
